/*
Copyright 2011-16 Newcastle University

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
*/

.clearAfter:after {
    clear: both;
    content: '.';
    display: block;
    visibility: hidden;
    height: 0;
}

.invisible {
    position: absolute !important;
    left: -20000px;
    top: -20000px;
}

#everything th, #everything td {
	background-color: white;
	padding: 2px 9px;
}
#everything thead th {
	background-color: #a2d1f0;
	text-align: center;
}

ul, ol {
	padding-left: 0;
	list-style-position: inside;
}

iframe {
	border: none;
	max-width: 100%;
}

img, object[type*="image"] {
    max-width: 100%;
    height: auto;
}

.btn-success {
    color: black;
    background-color: white;
    border-color: #4cae4c;
    border-width: 3px;
}
.btn-danger {
    color: #ffffff;
    background-color: hsl(1.7, 64.5%, 28%);
    border-color: hsl(1.7, 64.5%, 18%);
}

.table-responsive {
    overflow-y: hidden;
}

/*main template */

#loading .progress-bar {
	min-width: 8em;
}

#die {
	display: none;
	padding: 0 2em;
}
#die .error {
	background: #eee;
	padding: 1em;
}
#die .error:focus .stack {
	display: block;
}
#die .error .stack {
	display: none;
	font-family: monospace;
}
#die h2 {
	font-size: 1.6em;
}

.navbar .navbar-toggle {
	display: block;
}

.hamburger .navbar-toggle {
	background: #f5f5f5;
}

.hamburger .nav > li {
    display: inline-block;
}

.hamburger .nav {
    margin-left: 15px;
}

@media screen and (min-width: 480px) {
	.titleBits {
	    margin: 0 10px;
	}
}

#everything {
	overflow-x: hidden;
}

.question-nav {
	display: none;
}
.question-nav .marks {
    display: inline;
    vertical-align: middle;
    font-weight: bold;
}
.navbar-btn {
    white-space: normal;
}

.question-bottom-nav .navbar-btn {
    margin-left: 1em;
    margin-right: 1em;
}

@media screen {
	.show-nav .question-nav {
		display: inherit;
	}

	.show-nav.navigate-sequence #questionContainer, .show-nav.navigate-sequence > footer {
		margin-left: 300px;
    }
	.show-nav #questionContainer, .show-nav > footer {
		max-width: 1170px;
	}
}

.show-nav.navigate-menu #questionContainer {
    margin-top: 51px;
}

@media screen and (max-width: 991px) {
	#everything {
		padding-left: 0;
	}
	#questionContainer {
		margin-top: 51px;
	}
	.show-nav.navigate-sequence #questionContainer, .show-nav.navigate-sequence > footer {
		margin-left: auto;
	}
}

#progressbar {
	position: relative;
}
#progressbar .completed {
	position: absolute;
	height: 100%;
}

#navMenu .logo {
    max-width: 100%;
}

.navbar.question-nav .nav {
	float: none;
	text-align: center;
}
.navbar.question-nav .nav > .navbar-text {
	float: none;
}

input.jme {
	font-family: monospace;
}

.jme-preview {
	background-color: #eee;
	padding: 0.2em;
	font-family: serif;
	display: inline-block;
	font-size: 1.2em;
	margin-left: 0.2em;
}

.help-block.hint, .hint {
    font-style: italic;
    font-size: 0.9em;
    display: inline;
    margin-left: 0.5em;
}

.matrix-input {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	overflow-x: auto;
}
.matrix-input table.matrix {
    width: auto;
    display: inline-block;
    margin: 0.5em 0;
}
.matrix-input .matrix td {
	text-align: center;
}
.matrix-input .matrix-wrapper .left-bracket, .matrix-input .matrix-wrapper .matrix, .matrix-input .matrix-wrapper .right-bracket {
	display: table-cell;
}
.matrix-input .left-bracket, .matrix-input .right-bracket {
	border-radius: 50%;
	width: 10px;
}
.matrix-input .left-bracket {
	border-left: 2px solid;
}
.matrix-input .right-bracket {
	border-right: 2px solid;
}

.matrix-input .matrix-size {
    background: #a2d1f0;
    padding: 0.2em;
    margin-bottom: 0.2em;
    border: 1px solid #999;
}

#saving {
    width: 100%;
    position: fixed;
    height: 100%;
    text-align: center;
    background: rgba(200,200,200,0.7);
    z-index: 1;
}
#saving .text {
    background: white;
    padding: 1em;
    display: inline-block;
    border-radius: 5px;
    margin-top: 1em;
}

.copyright-footer {
    margin: 5em 2em 1em 2em;
    text-align: center;
    font-size: small;
    border-top: 1px solid #ccc;
    padding-top: 1em;
}

.mainDisplay {
	margin: 0 0;
	overflow-x: hidden;
}

.feedback-icon {
	font-size: 1.2em;
	display: inline-block;
	-webkit-text-stroke: 1px #222;
}
.feedback-icon.icon-ok {
	color: lime;
}
.feedback-icon.partial {
	color: lightslategrey;
}
.feedback-icon.icon-remove {
	color: red;
}
.feedback-icon.icon-exclamation-sign {
	color: red;
}
.feedback-icon.none {
	display: none;
}
.student-answer .feedback-icon {
    margin-left: 0.2em;
}

.student-answer input {
    border: 1px solid #ddd;
    border-bottom-color: #34444f;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.student-answer input[disabled] {
    cursor: not-allowed;
}
.student-answer.has-warnings input {
    border-top-style: dashed;
    border-left-style: dashed;
    border-right-style: dashed;
    border-color: hsl(30,20%,50%);
    background: hsl(30,20%,95%);
}
.student-answer fieldset > legend {
    border: none;
    margin: 0;
}

.part:not(.dirty) > .student-answer.answered input {
    border: 1px solid;
    border-color: hsl(204,72%,50%);
    background: hsl(204,72%,95%);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.part:not(.dirty) > .student-answer.answered[feedback-state='correct'] input {
    border-color: hsl(120, 50%, 50%);
    background: hsl(120, 50%, 95%);
}
.part:not(.dirty) > .student-answer.answered[feedback-state='wrong'] input {
    border-color: hsl(0, 50%, 50%);
    background: hsl(0, 50%, 95%);
}
.part:not(.dirty) > .student-answer.answered[feedback-state='partial'] input {
    background: white;
}

.part:not(.dirty) > .student-answer.answered .multiplechoice.show-cell-answer-state .checked label {
    border-bottom: 1px solid hsl(204,72%,50%);
}
.part:not(.dirty) > .student-answer.answered:not([feedback-state='none']) .multiplechoice.show-cell-answer-state .checked.correct label {
    border-bottom-color: hsl(120,50%,50%);
}
.part:not(.dirty) > .student-answer.answered:not([feedback-state='none']) .multiplechoice.show-cell-answer-state .checked:not(.correct) label {
    border-bottom-color: hsl(0,50%,50%);
}

#everything .part:not(.dirty) > .student-answer.answered .choices-grid.show-cell-answer-state td.checked {
    background: hsl(204,72%,95%);
}
#everything .part:not(.dirty) > .student-answer.answered:not([feedback-state='none']) .choices-grid.show-cell-answer-state td.checked.correct {
    background: hsl(120,50%,95%);
}
#everything .part:not(.dirty) > .student-answer.answered:not([feedback-state='none']) .choices-grid.show-cell-answer-state td.checked:not(.correct) {
    background: hsl(0,50%,95%);
}
.exam-name {
	font-weight: bold;
}

#questionList .question-group-header h3 {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    text-align: center;
    padding: 10px 15px; /* copied from the nav > li > a style in bootstrap */
}

#questionList .questionSelector > a {
    padding: 0.5em 0.3em;
    cursor: pointer;
}

.questionSelector .info {
    display: flex;
}

.questionSelector .feedback-icon {
	padding: 0;
    flex-basis: 1.25em;
}
.questionSelector .score {
    flex-grow: 1;
    text-align: right;
}
.questionSelector .marks {
}


.questionSelector .dirty-message,
.questionSelector .answered-state
{
    text-align: right;
    font-size: 0.8em;
}
.questionSelector .dirty-message .warning-icon {
	font-size: 18px;
	margin: 0 0 0 0.3em;
}


.questionList {
	max-height: 20em;
	padding-top: 1em;
}

.examScore {
	font-weight: bold;
	font-size: 1.2em;
}
.examScore .text {
	float: left;
}
.examScore .score {
	float: right;
}
.fake-nav-link > a:hover {
	background: inherit !important;
}

.menuButtons {
	margin-top: 1em;
}
.menuButtons button {
	min-width: 90%;
}

#pauseBtn {
    min-width: 6em;
    margin-bottom: 1em;
}

/* Question selection menu */
#question-chooser {
    margin: 1em auto;
    width: 30em;
}
#question-chooser th {
    border-top: 0;
}
#question-chooser .btn {
    white-space: normal;
    text-align: left;
}
#question-chooser .info {
    white-space: nowrap;
}
#question-chooser tr:not(:first-child) th {
    padding-top: 2em;
}
#question-chooser .questionSelector .info {
    display: table-cell;
}

#question-chooser table tr:first-child td {
    border-top: 0;
}

#question-chooser table col.score {
    width: 8em;
}
#question-chooser table col.icon {
    width: 2em;
}
#question-chooser table td {
    background: none;
}
#question-chooser .messages {
    text-align: right;
}

/* front/exit pages */

#performance-summary td {
	text-align: right;
}
#question-breakdown td {
	text-align: center;
}
#question-breakdown col.score {
    width: 1em;
}
#frontpage table.summary {
	font-size: 1.3em;
}
#startBtn {
	font-size: 1.5em;
}

#frontpage table.summary td {
	padding-left: 1em;
}

#frontpage .password {
    margin: 1em 0;
    display: flex;
    line-height: 2em;
}
#frontpage .password input {
    flex-grow: 1;
    margin: 0 0.5em;
    text-transform: uppercase;
}
#frontpage .password-feedback {
  text-align: center;
  line-height: 1.666em;
}

.input-group-addon.invisible {
    display: none;
}

#infoDisplay .info-buttons {
	margin-top: 1em;
	text-align: center;
}
#infoDisplay .info-buttons .btn {
	margin-bottom: 0.5em;
}

/* results page */

#results table tbody th {
	border-bottom: 2px solid #eee;
}

#results table tbody td {
	border-bottom: 2px solid #ddd;
    vertical-align: middle;
}

#question-breakdown .question:hover td {
	background-color: #dcdcdc;
	cursor: pointer;
}

#question-breakdown .question-group-header th {
    text-align: center;
    padding-top: 1em;
}

#question-breakdown .btn.review {
    padding: 0;
}


/* question bits */

table {
	width: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
}

.content-area ul > li, .content-area ol > li {
	margin-bottom: 0.3em;
}

.statement {
	margin: 1em 0;
}
.question.partsmode-explore .statement {
    margin-bottom: 4em;
}

.part {
	margin: .5em 0;
}

.part.gap {
    margin-top: 0;
    margin-bottom: 0;
}

.parts > * > .part.has-name {
	margin-left: 1em;
}
.partheader {
	margin-left: -1em;
}
.step .partheader {
    margin-left: 0;
}

.part.type-gapfill > .prompt .part {
	display: inline-block;
}

.part.type-gapfill > .prompt .part.block {
	display: block;
}

.partheader {
	clear: both;
}

.part .feedback-icon {
    margin-left: 0.5em;
}

.correct-answer {
	vertical-align: bottom;
	margin-left: 1em;
	border: 1px dashed #999;
	padding: 0.4em;
	display: inline-block;
	max-width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
}

.correct-answer .feedback-icon {
	margin-left: 0.2em;
}

.steps {
	padding: 0.5em 0.5em;
}

.steps .prompt {
	display: inline-block;
	width: 100%;
}

.steps {
	margin-bottom: 1em;
	margin-left: 0;
}

.stepsBtn {
	margin-bottom: 1em;
}


.multiplechoice {
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
}
select.multiplechoice {
    display: inline-block;
}

.multiplechoice.columns {
    display: grid;
    grid-gap: 0.2em 1em;
}

.gap .multiplechoice.columns {
    display: inline-grid;
}

.multiplechoice li {
	list-style: none;
	padding-right: 2em;
	line-height: 1.5em;
}
.multiplechoice:not(.columns) li {
    margin-bottom: 1em;
}

.multiplechoice p {
    margin-left: 1em;
}

.multiplechoice p:first-child {
    margin-top: -1.5em;
}

.multiplechoice .choice {
	margin-right: 0.6em;
}

.part.type-m_n_x form, .part.type-1_n_2 form, .part.type-m_n_2 form {
	display: inline-block;
}

.part.type-m_n_x .choices-grid {
	margin-left: 1em;
	width: auto;
}

#everything .part.type-m_n_x .choices-grid thead th {
	background: none;
}

.part.type-m_n_x table.choices-grid td.option {
	text-align: center;
}

.part.type-m_n_x .choices-grid th {
	background: inherit;
	font-weight: normal;
	text-align: center;
}
.part.type-m_n_x .choices-grid .choice {
	text-align: left;
	max-width: 40em;
}

.warning-icon {
	margin: 0 0.2em;
	color: red;
}

.warnings {
	position: absolute;
	z-index: 1;
	max-width: 20em;
	display: inline-block;
    opacity: 0;
    transition: opacity 0.2s;
    border-color: hsl(30, 20%, 50%);
    background-color: hsl(30, 20%, 95%);
    color: #333;
}
@media (prefers-reduced-motion: reduce) {
    .warnings {
        transition: opacity 0s;
    }
}
.warnings.shown {
    opacity: 1;
}
.warnings.alert-warning {
}
.warning {
	margin: 0.1em;
	display: block;
}

.part .submit-and-feedback {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.part .partFeedback {
    margin-top: 1em;
    text-align: right;
}

.part .feedbackMessages {
    max-width: 30em;
    margin-top: 1em;
	clear: both;
	max-height: 20em;
	overflow-y: auto;
	background: none;
	border-color: #a2d1f0;
}
.part .feedbackMessages > ol {
	list-style-type: none;
    margin: 0;
}

.part.dirty > .submit-and-feedback > .feedbackMessages .out-of-date-message {
    font-size: 0.9em;
    font-style: italic;
}
.part.dirty > .submit-and-feedback > .feedbackMessages .feedbackMessage {
    opacity: 0.3;
}

.part .feedbackMessage ~ .feedbackMessage {
    margin-top: 0.5em;
}

.part .feedbackMessage {
    display: flex;
}

.part .feedbackMessage .feedback-icon {
    width: 1em;
    flex-shrink: 0;
    margin-right: 0.5em;
}

.part .submitPart:not(:disabled) {
    border-color: #a2d1f0;
}

.part.step .submitPart:not(:disabled) {
    background-color: #fff;
}

.feedbackToggle {
	width: 9em;
}

.part .marks {
    text-align: right;
}
.part .marks .score {
	font-weight: bold;
}

.next-parts {
    text-align: left;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.next-parts > .what-next, .dead-end {
    font-weight: bold;
}
.next-parts > ul {
    list-style: none;
    padding-left: 0;
}
.next-parts > ul > .next-part ~ .next-part {
    margin-top: 1em;
}

.next-part-option.made {
    font-style: italic;
    border-color: #333;
}

.parts-tree {
    font-size: 0.8em;
    overflow-x: auto;
    padding: 1rem;
    display: flex;
    min-height: 0;
    margin: 0.5em 0;
}
.parts-tree > .part-progress {
    margin-right: 0.5em;
}
.parts-tree .part {
    display: flex;
    margin: 0;
}
.parts-tree ul {
    list-style: '→';
    padding-left: 1.2em;
    margin: 0;
}
.parts-tree a {
    flex-shrink: 0;
    color: #333;
}
.parts-tree .part .part a {
    margin-left: 0.2em;
}
.parts-tree .current {
    font-weight: bold;
    font-style: italic;
}
.parts-tree .name {
    cursor: pointer;
}

#explore-breakdown {
    margin: 1rem;
}

#explore-breakdown th, #explore-breakdown td {
    background: none;
    line-height: 1.5em;
}

#explore-breakdown .total:not(:first-child) th, #explore-breakdown .total:not(:first-child) td {
    border-top: 2px solid white;
}
#explore-breakdown .name {
    text-align: left;
}

.question td, .adviceDisplay td {
	text-align: right;
}

.question td, .question th, .adviceDisplay td, .adviceDisplay th {
	padding: 4px 10px 4px 5px;
}

input[type=text], input[type=number] {
	width: 60px;
	text-align: center;
}

#lightbox {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: hsla(0,0%,50%,95%);
    z-index: 1000;
    padding: 1em;
}
#lightbox:not(.shown) {
    display: none;
    opacity: 0;
}
#lightbox.shown {
    animation: lightbox-fade-in 0.5s;
    display: grid;
    justify-items: center;
    align-items: center;
}
@keyframes lightbox-fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#lightbox img {
    width: auto !important;
    height: auto !important;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    box-shadow: 0em 0em 0.2em 0.2em hsla(0,0%,0%,30%);
    cursor: pointer;
}

.monospace {
	font-family: monospace;
	font-size: 130%;
	background: #f5f5f5;
	padding: 0em 0.2em;
}

.print-only {
	display: none;
}

body.navigate-sequence .question-header {
    display: none;
}

@media print {
    #standalone-warning {
        display: none;
    }
    .question .parts {
        margin-left: 1.2em;
    }
    .answered-state {
        display: none;
    }
	.print-only {
		display: inherit;
	}
    .parts-tree {
        display: none;
    }

	.question {
		overflow-y: hidden;	/* Fixes the fact that Chrome draws a scrollbar in questions, for some reason */
	}

	.penaltyMessage {
		display: none;
	}

	table {
		page-break-inside: avoid;
	}

	#questionContainer.invisible {
		position: inherit !important;
		visibility: inherit !important;
	}

	#questionContainer {
		float: none !important;
	}

	.question.invisible {
		position: inherit !important;
		visibility: inherit !important;
		left: inherit;
		top: inherit;
	}

    .part .submit-and-feedback {
        float: none;
    }

    .part .feedbackMessages {
        text-align: left;
        width: 100%;
    }

	input[type="text"], input[type="number"] {
		border: none;
		border-bottom: 2px solid;
	}
	button, .btn {
		display: none !important;
	}
}

/* Try to allow scrolling for statement or prompt elements that are too wide */
@media screen {
	.content-area > span > p, .content-area > span > div, .content-area > span > table {
		overflow-x: auto;
		overflow-y: hidden;
	}
}

